@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@800&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@800&family=Merriweather:ital,wght@1,900&family=Poppins:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* background-color:#ffffff !important; */
  background-color: black !important;
  /* Fallback color in case the animation doesn't run */
  /* animation: changeColors 20s linear infinite; */
  /* Change colors every 10 seconds */
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

button>a {
  text-decoration: none;
  color: white;
  padding: 10px;

}

/* Buttton hovering effect */
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* Above Code For Button Effect */
.logo img {
  display: flex;
  height: 50px;
  border-radius: 50px;
}

/* 
@keyframes changeColors {

  0%,
  100% {
    background-color: #ffcc00;
  
  }

  20% {
    background-color: #ff6699;
    
  }

  40% {
    background-color: #66ccff;
   
  }

  60% {
    background-color: #99ff66;
   
  }

  80% {
    background-color: #ff99cc;
   
  }
} */

/* Styling for the first div tag */
/* General styles */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.info h4 {
  font-family: 'Poppins', sans-serif;
}

.info p {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.yheading {
  font-family: 'Poppins', sans-serif;
  color: white;
  justify-content: center;
}

.content {
  padding: 0px;
  text-align: center;
}

/* Heading styles */
.heading {
  /* font-size: 2.5em; */
  color: #333;
  transition: color 0.3s ease;
  font-family: 'Merriweather', serif;
  /* Cool color transition effect */
}

/* Paragraph styles */
.paragraph {
  font-size: 1.2em;
  color: #666;
  transition: transform 0.5s ease;
  /* Sliding effect */
  overflow: hidden !important;
  font-family: 'Poppins', sans-serif;
}

.content p {
  height: 80px !important;
  color: white;
}

.yheading {
  margin-left: 30% !important;
}

/* Anchor styles */
.anchor {
  color: #ff6699;
  text-decoration: none;
  transition: color 0.3s ease;
  /* Cool color transition effect */
}

/* Hover effect for anchor */
.anchor:hover {
  color: #ff3366;
}

/* Selection effect */
::selection {
  background-color: #ffcc00;
  color: #fff;
}

/* Style for nav bar */
/* Navigation bar styles */
header {
  position: sticky;
  top: 0;
}

.navbar {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 20px !important;
  background-color: transparent !important;
  color: #fff !important;
}

.logo {
  font-size: 1.5em !important;
}

.nav-links {
  list-style-type: none !important;
  display: flex !important;
}

.nav-links li {
  margin: 0 15px;


}

.nav-link {
  text-decoration: none !important;
  color: white !important;

  /* Color transition effect */
}

.nav-link:hover {
  color: #ff6699 !important;
  /* Hover color */
}

.navbar {
  transition: color 0.3s ease !important;
}

.heading {
  color: white;
}

/* Burger menu styles */
.burger {
  display: none !important;
  /* Hide initially */
  flex-direction: column !important;
  cursor: pointer !important;
}

.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background-color: #FFD700;
  margin: 4px;
  transition: transform 0.3s ease;
  /* Transform effect */
}

.sidebutton button {
  margin-left: 40% !important;
  border-radius: 5px !important;
  border: solid rgb(71, 69, 69) !important;
}

.yheading {
  font-family: 'Merriweather', serif;
}

/* media query for below 500px screen */
@media screen and (max-width: 500px) {
  .info p {
    font-size: 7px !important;
    color: white !important;
  }

  .h4,
  h4 {
    font-size: 8px !important;
  }

  button {
    font-size: 7px !important;
    padding: 0 8px !important;
  }

  .photo img {
    width: 16% !important;
  }

  .yheading h1 {
    font-size: 15px !important;
  }

  .yheading {
    margin-left: 14% !important;
  }

  .glow-on-hover {
    width: 100px;
    height: 20px;
    font-size: 5px !important;
    padding: 10px;
  }

  /* style for carsual buttons */
  .carousel-control-prev {
    margin-top: 120%;
  }

  .carousel-control-next {
    margin-top: 120%;
  }
}

/* Media query for responsive design */
@media screen and (max-width: 900px) {
  header {
    z-index: 100;
  }

  .navbar {
    justify-content: space-between !important;
  }

  .nav-links {
    display: none !important;
    /* Hide navigation links */
    opacity: 0 !important;
    /* Initially hidden */
    transition: opacity 0.5s ease-in-out !important;
  }

  .burger {
    display: flex !important;
    z-index: 1 !important;
    /* Show burger menu */
  }

  .nav-active {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    background-color: transparent !important;
    position: absolute !important;
    top: 80px !important;
    /* Adjust as needed */
    width: 100% !important;
    opacity: 1 !important;
    /* Visible when active */
    animation: slideIn 0.5s forwards !important;
    color: white;
  }

  .nav-active li {
    margin: 20px 0 !important;
  }

  .nav-active .nav-link {
    color: white !important;
    font-weight: bolder !important;
    transition: 0.5s ease-in-out !important;
  }

  .burger .line1.rotate-down,
  .burger .line3.rotate-up {
    transform: translateY(8px) rotate(-45deg) !important;
  }

  .burger .line2.hide {
    opacity: 0 !important;
  }

  .glow-on-hover {
    width: 50%;
    height: 50px;
    font-size: 10px !important;
  }
}

/* smooth opening effect */
@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}




/* styling for information 
   Styles for photo gallery
.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .photo-card {
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .photo-card img {
    width: 50%;
    height: auto;
    display: block;
  }
  
  .info {
    padding: 15px;
  }
  
  .info h3 {
    margin-top: 0;
    font-size: 1.2em;
  }
  
  .info p {
    margin-bottom: 0;
    color: #666;
  } */
/* For slider below 900px */
@media screen and (max-width: 900px) {

  .slider-buttons {
    text-align: center;
    margin-top: 20px;
  }

  button {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: transparent;
    border: solid black;
    cursor: pointer;
    font-weight: bolder;
  }
}

/*  code for quick appearing slid */
/* .no-transition {
  transition: none; */
/* Disable transition for immediate appearance */


/* Styling for next-page */
.next-page button {
  margin-left: 40% !important;
  font-size: 20px;
  border-radius: 5px !important;
  border: solid rgb(81, 79, 79) !important;

}

button {
  background-color: transparent;
}



/* Split Layout Styling */
.photo-info-container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;

  /* Optional: Add background or border for the container */
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
}

/* 
.split-layout {
  display: flex;
  align-items: center;
  margin-top: 50px;
 justify-content: normal ;
} */

.photo {
  /* flex: 1; */
  padding-right: 20px;

}

.photo img {
  /* max-width: 100%; */
  width: 17%;
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 5%;
}

.info {
  /* flex: 1; */
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

.info h3 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.info p {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}

/* search box styling */
#search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

}

#search-input {
  /* padding: 8px;
  font-size: 16px; */
  padding: 12px; /* Increase the padding */
  font-size: 18px; /* Increase the font size */
  height: 40px; /* Increase the height */
  flex-grow: 0.2;
}

#suggestions-container {
  margin-top: 50px;
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  width: 50%;
  display: none;
  background-color: #fff;
  flex-grow: 0.2;
  z-index: 1;
}

#suggestions-container div {
  padding: 8px;
  cursor: pointer;
  z-index: 1;
}

#suggestions-container div:hover {
  background-color: #f0f0f0;
}

.search_button{
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}


/* style for prev and next button */
.carousel-control-prev {
  margin-top: 80%;
}

.carousel-control-next {
  margin-top: 80%;  
}